body { 
    background-color: burlywood;
    color:saddlebrown;
}
h1 { 
text-align: center;
border-bottom: 4px solid saddlebrown;
max-width: 240px;
min-width: 200px;
margin-left: auto;
margin-right: auto;
}
img { 
    max-width: 300px;
    max-height: 300px;
    height:auto; 
    width:auto;
    margin-left:auto;
    margin-right: auto;
    border: solid 3px saddlebrown; 
    display: block;
}

h2, h3 { 
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
text-align: center;
    border-bottom: 4px solid saddlebrown;
    max-width: 150px;
    min-width: 130px;
    margin-left: auto;
    margin-right: auto;

}
.spacer{ 
    border: 6px solid saddlebrown;
   /*  border-top: 6px solid saddlebrown; */
   border-radius: 12%;
    width: auto;
    max-width: 400px;
    min-width: 200ox; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a:link, a:visited{
    color: burlywood;
    background-color: saddlebrown;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding:5px 5px ;
}

