body { 
    background-color: burlywood;
    color:saddlebrown;
}
h1 { 
text-align: center;
border-bottom: 4px solid saddlebrown;
max-width: 400px;
min-width: 200px;
margin-left: auto;
margin-right: auto;
}
img { 
    max-width: 300px;
    max-height: 300px;
    height:auto; 
    width:auto;
    margin-left:auto;
    margin-right: auto;
    border: solid 3px saddlebrown; 
    display: block;
}
.back-button { 
border: black 2px solid; 
background-color: yellow;
}
h2, h3 { 
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
}
.spacer{ 
    border: 6px solid saddlebrown;
   /*  border-top: 6px solid saddlebrown; */
   border-radius: 12%;
    width: auto;
    max-width: 400px;
    min-width: 200ox; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}